mixin filaTabla(pelicula)
  tr
    td #{ pelicula.imdbID }
    td #{ pelicula.titulo }
    td #{ pelicula.año }
    td
      form.valoracion-pelicula(
        action="/",
        method="POST",
        id=pelicula._id,
        valoracion=pelicula.valoracion,
        onsubmit="return false"
      )
        - for (let i = 0; i < pelicula.valoracion; i++) {
          span.fa.fa-star.checked(valor=i + 1, name=pelicula._id)
        - }
        - for (let i = pelicula.valoracion; i < 5; i++) {
          span.fa.fa-star(valor=i + 1, name=pelicula._id)
        - }
        input(type="hidden", name="id", value=pelicula._id)
        input(type="hidden", name="valoracion", value=pelicula.valoracion)
